.VPSidebar {
    padding: 0 0 96px !important;
}

.VPSidebarItem {
  padding-left: 32px;
}

.VPSidebarItem.level-0 >.items{
  border-left: .25rem solid transparent;
}

.VPSidebarItem.level-0.is-active > .items{
  border-left-color: var(--vp-c-brand-1);
}
