.VPSidebarItem:not(.level-0) .text{
  border-left: .25rem solid transparent;
}

.VPSidebarItem.level-0 .text {
  font-weight: bold;
}

.VPSidebarItem.level-1.is-active>.item .text {
  border-left-color: var(--vp-c-brand-1);
}
